.nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #f9f9f9;
  border-top: 1px solid rgb(240, 240, 240);
}

.nav__list {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  font-size: 18px;
}

.nav__list-link {
  position: relative;
}

.nav__num-badge {
  position: absolute;
  top: -7px;
  right: -5px;
  background-color: #e66040;
  color: white;
  padding: 2px 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}
